$color-white: #fff;
$color-orange: #ff3f04;
$color-form: #495057;
$color-background: #16151d;
$color-header-background: rgba(21, 10, 1, 0.21);
$color-background-image-travel-line: hsla(0, 0%, 100%, 0);
$color-overlay-background: rgba(0, 0, 0, 0.8);
$color-form-result-success-background: rgba(0, 0, 0, 0.6);
$color-btn-submit-hover: #ee6c2f;
$color-btn-submit-focus: rgba(38, 143, 255, 0.5);
$color-progress-bar: rgba(255, 255, 255, 0.15);
$color-card: rgba(255, 255, 255, 0.719);
$color-card-background: rgba(243, 238, 238, 0.1);
$color-card-background-gradient: rgba(255, 255, 255, 0.425);
$color-card-gradient: rgba(211, 211, 211, 0.1);
$color-form-control-is-valid-focus: rgba(40, 167, 69, 0.25);
$color-custom-control-focus: rgba(0, 123, 255, 0.25);
$color-form-success: #28a745;
$color-form-invalid: #dc3545;
$color-div-result-background: #f4f1ef;

$box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
$box-shadow-form-control-is-invalid-focus: rgba(220, 53, 69, 0.25);

$transparent: transparent;

//borders
$border1px: 1px solid;
$travel-btn-border: 2px solid $color-white;
$border-form__wrapper: rgba(0, 0, 0, 0.125);
$border-btn-submit-hover: #f76539fd;
$border-transparent: border-transparent;
$border-header: #3d3d3d;
$border-travel__btn-light: #577fb3;
$border-travel__btn-dark: #101f2d;
$border-travel__btn-hover-light: #2a64b1;
$border-travel__btn-hover-dark: #081d30;
$border-div-result-background:#eff4f1;



$gradient-background-image-travel-line: hsla(0, 0%, 100%, 0.19);
