/*-----VARIABLES(START)-----*/

/*-----colors(START)-----*/
@import "./variables_colors.scss";
/*-----colors(END)-----*/

/*-----typography(START)-----*/
@import "./variables_typography.scss";
/*-----typography(END)-----*/

/*-----position(START)-----*/
@import "./variables_position.scss";
/*-----position(END)-----*/

/*-----states(START)-----*/
@import "./variables_states.scss";
/*----states(END)-----*/

/*-----breakpoints(START)-----*/
@import "./variables_breakpoints.scss";
/*----breakpoints(END)-----*/


/*----VARIABLES(END)-----*/