/*-----TRAVEL(START)-----*/
@import "./travel_travel.scss";

/*-----travel-title(START)-----*/
@import "./travel_title.scss";
/*-----travel-title(END)-----*/

/*-----travel-btn(START)-----*/
@import "./travel_button-container.scss";

/*-----btn(START)-----*/
@import "./travel_btn.scss";
/*-----btn(END)-----*/

/*-----line(START)-----*/
@import "./travel_line.scss";
/*-----line(END)-----*/

/*-----travel-btn(END)-----*/

/*-----TRAVEL(END)-----*/