@mixin flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-auto() {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

@mixin column() {
  -webkit-box-orient: $vertical;
  -webkit-box-direction: $normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin justify-content-center() {
  -webkit-box-pack: $center;
  -ms-flex-pack: $center;
  justify-content: $center;
}

@mixin justify-content-flex-end() {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin align-items-flex-start() {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin align-items-center() {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin flex-wrap-wrap() {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}