// Лого

.logo {
  padding: 0;
  width: 316px;
  height: 100px;
  @include media-max(lg) {
    width: 250px;
    height: 75px;
  }
  @include media-max(xs) {
    width: 200px;
    height: 50px;
  }
}
