//Навигация

.navbar {
  max-width: $calc-1306px;
  margin: 0 $auto;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 2;
}

.navbar-brand {
  padding: 0;
  margin-left: 10px;
}

.navbar-collapse {
  @include justify-content-flex-end();
}

@include media-max(lg) {
  .navbar-nav {
    margin-top: 30px;
  }
}
