/*-----cards(START)-----*/

@import "./card_card.scss";

/*-----card-body(START)-----*/
@import "./card_card-body.scss";
/*-----card-body(END)-----*/

/*-----card-title(START)-----*/
@import "./card_card-title.scss";
/*-----card-title(END)-----*/

/*-----card-text(START)-----*/
@import "./card_card-text.scss";
/*-----card-text(END)-----*/

/*-----cards(END)-----*/


