.form-row {
  @include flex();
  @include flex-wrap-wrap();
  margin-right: -5px;
  margin-left: -5px;
  @include media-min(sm) {
    > .form-group {
      -ms-flex: 0 0 50%;
      -webkit-box-flex: 0;
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

