.overlay {
  @include flex();
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-overlay-background;
  padding: 1px 30px;
  box-sizing: $border-box;
  visibility: $hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: opacity 0.7s, visibility 0s linear 0.3s;
  -webkit-transition: opacity 0.7s, visibility 0s linear 0.3s;
  -moz-transition: opacity 0.7s, visibility 0s linear 0.3s;
  -ms-transition: opacity 0.7s, visibility 0s linear 0.3s;
  -o-transition: opacity 0.7s, visibility 0s linear 0.3s;
}

.overlay_opened {
  @include flex();
  z-index: 3;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: $visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
