/*-----FORM (START)-----*/

/*-----form общие(START)-----*/
@import "./form_overlay.scss";
@import "./form_popup.scss";
@import "./form_form-title.scss";
@import "./form_form-wrapper.scss";
@import "./form_form-row.scss";
/*-----form общие(END)-----*/

/*-----Стили для секции, с помощью которой можно добавить к форме файлы(START)-----*/
@import "./form_form-attachments.scss";
/*-----Стили для секции, с помощью которой можно добавить к форме файлы(END)-----*/

/*-----Стили секции, в которой выводится капча(START)-----*/
@import "./form_form-captcha.scss";
/*-----Стили секции, в которой выводится капча(END)-----*/

/*-----Стили секции для секции "Пользовтельское соглашение"(START)-----*/
@import "./form_custom-control.scss";
/*-----Стили секции для секции "Пользовтельское соглашение"(END)-----*/

/*-----Стили для индикации полей форме при их валидности(START)-----*/
@import "./form_is-valid.scss";
/*-----Стили для индикации полей форме при их валидности(END)-----*/

/*-----Стили для индикации полей форме при их не валидности(START)-----*/
@import "./form_is-invalid.scss";
/*-----Стили для индикации полей форме при их не валидности(END)-----*/

/*-----Стили для для сообщения об ошибках(START)-----*/
@import "./form_form-error.scss";
/*----- Стили для для сообщения об ошибках(END)-----*/

/*-----Стили для сообщения об успешной отправке(START)-----*/
@import "./form_form-result-success.scss";
/*-----Стили для сообщения об успешной отправке(END)-----*/

/*-----FORM (END)-----*/


