/*-----Стили секции для секции "Пользовтельское соглашение"(START)-----*/

.custom-control {
  position: $relative;
  display: $block;
  min-height: 24px;
  min-height: 1.5rem;
  padding-left: 24px;
  padding-left: 1.5rem;
}

.custom-control-input {
  position: $absolute;
  z-index: -1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.custom-control-label {
  position: $relative;
  margin-bottom: 0;
  vertical-align: top;
}

.agreement-link {
  color: $color-orange;
  &:hover {
    @include opacity-6();
    text-decoration: underline;
    color: $color-orange;
  }
}
.custom-checkbox .custom-control-label:before {
  border-radius: 0.25rem;
}

.custom-control-label {
  &:before {
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  &:before {
    position: $absolute;
    top: 4px;
    top: 0.25rem;
    left: -24px;
    left: -1.5rem;
    display: $block;
    width: 16px;
    width: 1rem;
    height: 16px;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: $color-white;
    border: #adb5bd $border1px;
  }
  &:after {
    position: $absolute;
    top: 4px;
    top: 0.25rem;
    left: -24px;
    left: -1.5rem;
    display: $block;
    width: 16px;
    width: 1rem;
    height: 16px;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
  }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-control-input:checked ~ .custom-control-label:before {
  color: $color-white;
  border-color: $color-orange;
  background-color: $color-orange;
}

.custom-control-input:focus ~ .custom-control-label:before {
  box-shadow: 0 0 0 0.2rem $color-custom-control-focus;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label:before {
  border-color: #80bdff;
}

.custom-control-input:active ~ .custom-control-label:before {
  color: $color-white;
  background-color: #ffcbb3;
  border-color: #ffcbb3;
}

.form-agreement label {
  font-size: 10px;
}
/*-----Стили секции для секции "Пользовтельское соглашение"(END)-----*/
