@include font-face('Museo Sans', '../fonts/museoSansCyrl-100/museoSansCyrl-100', 100, normal, woff2 woff ttf eot);
@include font-face('Museo Sans', '../fonts/museoSansCyrl-300/museoSansCyrl-300', 300, normal, woff2 woff ttf eot);
@include font-face('Museo Sans', '../fonts/museoSansCyrl-700/museoSansCyrl-700', 700, normal, woff2 woff ttf eot);
