/*-----UTILITIES(START)-----*/

/*-----variables(START)-----*/
@import "./variables/variables.scss";
/*-----variables(END)-----*/

/*-----mixins(START)-----*/
@import "./mixins/mixins.scss";
/*-----mixins(END)-----*/

/*----------  1. FONTS (START)  ----------*/
@import "./fonts.scss";
/*----------  1. FONTS (END)  ----------*/


/*-----UTILITIES(END)-----*/