/*-----SECTIONS(START)-----*/

/*-----HEADER(START)-----*/
@import "./header/header.scss";
/*-----HEADER(END)-----*/

/*-----TRAVEL(START)-----*/
@import "./travel/travel.scss";
/*-----TRAVEL(END)-----*/

/*-----INFO(START)-----*/
@import "./info/info.scss";
/*-----INFO(END)-----*/

/*-----CARD(START)-----*/
@import "./card/card.scss";
/*-----CARD(END)-----*/

/*-----FORM(START)-----*/
@import "./form/form.scss";
/*-----FORM(END)-----*/

/*-----FOOTER(START)-----*/
@import "./footer/footer.scss";
/*-----FOOTER(END)-----*/


/*-----SECTIONS(END)-----*/