/*-----COMPONENTS(START)-----*/

/*-----Стили для  menu-link(START)-----*/
@import "./components_nav-link.scss";
/*-----Стили для menu-link(END)-----*/

/*-----Стили для button-close(START)-----*/
@import "./components_button-close.scss";
/*-----Стили для button-close(END)-----*/

/*-----Стили для button(START)-----*/
@import "./components_button.scss";
/*-----Стили для button(END)-----*/

/*-----Стили для input(START)-----*/
@import "./components_input.scss";
/*-----Стили для input(END)-----*/

/*-----Стили для label(START)-----*/
@import "./components_label.scss";
/*-----Стили для label(END)-----*/

/*-----Стили для textarea(START)-----*/
@import "./components_textarea.scss";
/*-----Стили для textarea(END)-----*/

/*-----Стили для invalid-feedback(START)-----*/
@import "./components_invalid-feedback.scss";
/*-----Стили для invalid-feedback(END)-----*/

/*-----Стили для индикатора(START)-----*/
@import "./components_progress.scss";
/*-----Стили для индикатора(END)-----*/

/*-----Стили для кнопки submit(START)-----*/
@import "./components_button-submit.scss";
/*-----Стили для кнопки submit(END)-----*/

/*-----COMPONENTS(END)-----*/