/*----- Стили для индикатора(START)-----*/
.progress {
  @include flex();
  height: 16px;
  height: 1rem;
  overflow: $hidden;
  font-size: 12px;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}

.progress-bar {
  @include flex();
  @include column();
  @include justify-content-center();
  color: $color-white;
  text-align: $center;
  white-space: nowrap;
  background-color: #007bff;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  background-image: -webkit-linear-gradient(
    45deg,
    $color-progress-bar 25%,
    transparent 25%,
    transparent 50%,
    $color-progress-bar 50%,
    $color-progress-bar 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    $color-progress-bar 25%,
    transparent 25%,
    transparent 50%,
    $color-progress-bar 50%,
    $color-progress-bar 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

.form-submit {
  text-align: right;
}

/*-----Стили для индикатора(END)-----*/
