.button-close {
  @include background();
  background-image: url(./../images/close_icon.svg);
  background-position: $center;
  border: $none;
  cursor: $pointer;
  background-color: $transparent;
  outline: $none;
  position: $absolute;
  top: 10px;
  right: 10px;
  padding: 1px 6px;
  width: 20px;
  height: 20px;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
  &:hover {
    @include opacity-6();
  }
  @include media-max(xs) {
    right: -25px;
    top: -25px;
  }
}
