input[type="radio"],
input[type="checkbox"] {
  box-sizing: $border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: $border-box;
  padding: 0;
}

.input-group-text {
  font-size: 12px;
}
.form-group {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.form-control {
  display: $block;
  width: 100%;
  font-size: 12px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 6px 12px;
  padding: 0.375rem 0.75rem;
  font-weight: $font-weight-400;
  line-height: 1.5;
  color: $color-form;
  background-color: $color-white;
  background-clip: padding-box;
  border: $border1px #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    color: $color-form;
    background-color: $color-white;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem $color-custom-control-focus;
  }
}
