/*-----Общие(START)-----*/

/*-----body(START)-----*/
@import "./base_body.scss";
/*-----body(END)-----*/

/*-----page(START)-----*/
@import "./base_page.scss";
/*-----page(END)-----*/

/*-----main(START)-----*/
@import "./base_main.scss";
/*-----main(END)-----*/

/*-----Общие(END)-----*/