.main {
  margin: 14vh 0 20vh 0;
  @include media-max(lg) {
    margin: 0;
    text-align: $center;
  }
}

/*-----main-img(START)-----*/
.main__img {
  margin: 0 $auto;
  position: $absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 21vh;
  height: 560px;
  width: 560px;
  @include media-max(xxl) {
    display: $none;
  }
  @include media-max-height(sm) {
    display: $none;
  }
}

/*-----main-img(END)-----*/
