/*-----FOOTER(START)-----*/

@import "./footer_footer.scss";

/*-----footer__container(START)-----*/
@import "./footer_footer-container.scss";
/*-----footer__container(END)-----*/

/*-----FOOTER(END)-----*/